kubernetes==29.0.0
scrapbook==0.5.0
typed_json_dataclass==1.2.1
requests==2.31.0
# need to upgrade from base image for papermill dependency
python-dateutil==2.8.2

pytest
pytest-watch
flake8==7.0.0
mypy==1.8.0
black==23.12.1
types-requests
types-PyYAML
